table{
    border: 1px solid white;
    text-align: center;
}
th{
    color: #d8b00f;
    padding: 25px;
    font-size: 16px;
}
td{
    color: whitesmoke;
    font-size: 12px;
}
tr{
    border: solid 1px white;
}