.flex-container{
    width: 1200px;
    height: 300px;
    text-align: center;
    color: #d8b00f;
    padding: 15px;
    display: flex;
}
p{
    position: relative !important;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: -40px;
}
.caja{
    border: solid white 1px;
    padding: 15px;
    margin-right: 30px;
    width: 450px;
    height: 375px;
}