p{
    position: relative !important;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: -40px;
}
#texto{
    padding: 15px;
    color: #d8b00f;
}
.tabla{
    border: solid white 1px;
}